# Laravel & Composer
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
Thumbs.db

# System files
*.log
*.bak
*.tmp
*.swp

# Keys or secrets
*.pem
*.ppk
*.key
*.crt
*.cer
*.pub
*.json

# Laravel Mix / Vite
/public/build